* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* backgr??ound:rgba(0,0,0,0.1); */
}


#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, #449AEB, #00AC7B);
    /* box-shadow: 0 13px 7px 0 rgba(0,0,0,0.27); */
  }
  
  #welcome-description {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: lighter;
  }
  h2 {
      text-align: center;
      font-size: 3em;
      color: black;
      line-height: 2em;
  }
  
  h5 {
    text-align: center;
    font-size: 3em;
  }
  #welcome-title {
    font-size: 3em;
    color: white;
    margin: 0;
    text-align: center;
  }

  .project {
      width: 100%;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(20, 1fr);
      grid-template-rows: repeat(8, 50px);
      border-radius: 10px;
  }

  .project:hover {
    }

  .project-text {
    font-size: 2.25rem;
    grid-column: 2/11;
    grid-row: 2/8;
    /* padding: 1em; */
  }
 
  .project-text > *
  {
    /* margin: 0.5em; */
    /* margni-left: 30px; */
}
  .fluid-img {
      grid-row: 2/8;
      /* margin: auto; */
      width: 100%;
      /* height: auto; */
      /* background-size: cover; */
      border: 4px solid rgba(0,0,0,0.3);
      /* padding: 1.3em; */
  }
  .project-tile {
      border-radius: 10px;
      grid-column:12/20;
      grid-row: 2/8;
  }

  .project-description {
    min-width: 95%;
    font-size: 24px;
    line-height: 2em;
    text-align: left;
}

  .project-btn {
    font-weight: bold;
    color: white;
    background: none;
    border: rgba(0,0,0,0.7) solid 2px;
    background: rgba(0,0,0,0.9);
    border-radius: 7px;
    /* margin: 20px auto; */
  }
  .project-btn > * {
      text-transform: none;
      text-decoration: none;
      color: white;
      font-size: 20px;
      padding: 3em;
      line-height: 3em;
  }
  
  .project-btn:hover {
    cursor:pointer;
    background: rgba(0,0,0,0.8);
    /* transform: scale(1.1); */
    color: white;
    font-weight: bold;

  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

#navbar {
    border-bottom: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
}

#nav-list {
    list-style: none;
    margin: 0;
    display: block;
    background: rgba(0,0,0,0.7);
    /* padding: 1.3em; */
}
.nav-item {
    display: inline-block;
    margin: 20px;
}

.nav-link {
    font-size: 1.5em;
   
    text-transform: none;
    text-decoration: none;
    color: white;
}

#tutorials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

iframe {
    display: block;
    margin: 50px auto;
}

@media only screen and (min-width: 600px) {

 body {
  font-size: 11pxs;
 } 
}
